@model List<AzureAdApp.Models.AzureUserModel>

@{
    ViewBag.Title = "Users";
}

<br/>
<br/>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="jsUserData">
                    <input type="hidden" value="@user.ObjectId" class="jsUserId" />
                    <span class="jsUserName">@user.DisplayName</span>
                </td>
                <td>
                    <button class="btn btn-primary jsViewGroups">View groups</button>
                </td>
            </tr>
        }
        </tbody>        
    </table>
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/users.js")"></script>
}

